
    .food{
        position: absolute;
         width:2%;
        height:2%;
        z-index: 1;
        background: url('../assets/icons/apple.png') center center no-repeat;
        background-size: 100%;
       
    }