
    .food{
        position: absolute;
         width:2%;
        height:2%;
        z-index: 1;
        background: url('https://cdn0.iconfinder.com/data/icons/fruity-3/512/Apple-32.png') center center no-repeat;
        background-size: 100%;
       
    }