body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrappApp{
  background-image: linear-gradient(48deg, #5a72b5 0%, #e5efe9 70%);
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #121943;
  font-family: "Lato", sans-serif;

  .footer{
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

      &__logo{

        img{
          height: 50px;
        }
      }

      &__text{
        font-size: 24px;
        font-weight: bold;
      }

      &__social{

        img{
          width: 50px;
        }
      }
    }

  .card{
    background: #fff;
    background-image: linear-gradient(48deg, #fff 0%, #e5efe9 100%);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -20px 20px 35px 1px rgb(10 49 86 / 18%);
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 40px;
    max-width: 400px;
    width: 100%;

    .heading{
      text-align: center;
      font-size: 36px;
      
      
    }

    .controls{
       &__title{
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        color: red;
      }

      &__buttons{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        &-left,&-right,&-up,&-down{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .button{
      margin: 20px auto 0 auto;
      align-items: center;
      background: #e5efe9;
      border: 1px solid #5a72b5;
      border-radius: 4px;
      color: red;
      cursor: pointer;
      display: flex;
      font-size: 1em;
      font-weight: 700;
      height: 40px;
      justify-content: center;
      width: 150px;
      transition: 0.3s all;

      &:hover{
        background-color: #133592;
        color: #fff;
      }
    }
  }
}




.wrapper{

 

  

  .area{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 500px;
    border: 10px solid rgb(37, 197, 64);
    background-color: rgb(50, 172, 50);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:0 0 10px 10px;
  }

  .popUp{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    &__header{
      text-align: center;
      border-bottom: 1px solid #e3e3e3;
      &-title{
        font-size: 28px;
        color: red;
      }

      &-subtitle{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    &__body{
      margin: 10px;
    }

    &__list{
      list-style: none;

      &-item{
        font-size: 18px;
        font-weight: bold;
      }
    }

    &__footer{
      text-align: center;
      &-text{
        font-size: 28px;
        font-weight: bold;
        text-decoration: underline;
        span{
          color:red;
         
        }
      }
    }
  }

  .darkWrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.9);
  }
}


@media (min-width: 768px) { 

  .card{
    width: 100%;
    margin: 10px;
  }

  .area{
    width: 100%;
  }
 }

